[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mysqlclient = "==2.0.1"
sshtunnel = "==0.2.1"
paramiko = "==2.7.2"

[requires]
python_version = "3.6"
